<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" type="image/png" href="/img/favico.png" />
<title>Deportivo Los Ayala</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="./css/materialize.css">
<!-- App Main Styles -->
<link rel="stylesheet" href="./css/main.css">
<!-- Roboto Font -->
<link href="./css/roboto.css" rel="stylesheet">
<!-- Material Icons -->
<link href="./css/material-icons.css" rel="stylesheet">
<!-- Tiny Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
<style>
</style>